###
### {{ ansible_managed }}
###

# To add this read-only policy
# {{ vault_bin_dir }}/vault policy-write vault_read_only_policy {{ vault_keys_policy_file }}

# To generate a token to gain access with this policy
# {{ vault_bin_dir }}/vault token-create -lease="8760h" -policy vault_read_only_policy


path "sys/*" {
  policy = "deny"
}

path "secret/ssl/*" {
  policy = "read"
}

path "secret/ssh/*" {
  policy = "read"
}

{% if ansible_ec2_hostname is defined %}
path "secret/{{ ansible_ec2_hostname.split('.')[1] }}/*" {
  policy = "read"
}
path "secret/{{ ansible_ec2_hostname.split('.')[1] | regex_replace( "[^a-zA-Z]", "") }}/*" {
  policy = "read"
}
{% else %}
path "secret/*" {
  policy = "read"
}
{% endif %}